Recipe-detail-page {
  .Recipe-title {
    margin-bottom: 5px;
  }

  .Recipe-category {
    margin: 10px;
  }

  .Recipe-price {
    font-size: 40px;
  }

  .Recipe-description {
    font-size: 21px;
  }

  .Recipe-header-container {
    display: flex;
  }

  .Recipe-user {
    margin-bottom: 30px;
    flex: 1;
  }

  .user-container {
    text-align: left !important;
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    .user-image {
        margin-right: 20px;
    }

    .user-name {
        font-size: 21px;
    }
  }
}

// Recipe CREATE
.create-page {
  margin-top: 70px;
  margin-bottom: 70px;

  .form-container {
    max-width: 860px;
    margin: 0 auto;
  }

  .field.is-grouped {
    margin-top: 20px;
  }
}
// Recipe CREATE ENDS
