html {
    font-family: system-ui, sans-serif;
    font-size: 1.25rem;
  }

  svg {
    display: inline-block;
    vertical-align: middle;

  }

  svg.rsm-svg { /* kartan bara, svg ovan är också kryssknappen i sidebar */
    height: 20%;
    border: double #BDCFB5 2px;
    
    width: 100%;
    display: inline-block;
  vertical-align: middle;

  }
